/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Dreamteck.Forever.csproj
/Dreamteck.Forever.Editor.csproj
/Dreamteck.Splines.csproj
/Dreamteck.Splines.Editor.csproj
/Dreamteck.Utilities.csproj
/Dreamteck.Utilities.Editor.csproj
/Library
/Logs
/Packages
/ProjectSettings
/ShaderPratice.sln
/Temp
/UserSettings
/VFXGraph.OutputEventHandlers.csproj
/VFXGraph.OutputEventHandlers.Editor.csproj